<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!--
8
Now, open app.component.html and add the following HTML code for Image Slider.

 <div>  
  <div class="row">  
    <div class="col-sm-12 btn btn-primary">  
      Image Slider  
    </div>  
  </div>  
</div>  

<hr style="background-color:black" />  
<div class="">
    
    <owl-carousel [options]="myCarouselOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding']" >  
        <div class="item" *ngFor="let img of mySlideImages">  
        <div style="align-content: center">  
        <img style="height: 260px;width:100%"src={{img}}/>  
        </div>  
        </div>  
        </owl-carousel> 
        -->
  <!--
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
    <div ngxSlickItem *ngFor="let image of images" class="slide">  
      <img src="{{ image.img }}" width="100%">  
    </div>  
  </ngx-slick-carousel> -->
