<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <div class="form-group">
      <label>Full Name</label>
      <input  class="form-control" formControlName="FullName">
      <label class="text-danger" *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">This
        Full Name is mandatory.</label>
    </div>
  </div>
  
  <div class="form-group">
    <label>Age</label>
    <input class="form-control" formControlName="Age" ng-pattern="integerval">
    <label class="text-danger" *ngIf="service.formModel.get('Age').touched && service.formModel.get('Age').errors?.required">Invalid
      Age address.</label>
      
  </div>
  <div class="form-group">
    <label>Birthday</label>
    <input class="form-control" formControlName="Birthday" ng-pattern="integerval">
    <label class="text-danger" *ngIf="service.formModel.get('Birthday').touched && service.formModel.get('Birthday').errors?.required">Invalid
      Birthday mat-dialog-content.</label>
      
  </div>
  <div class="form-group">
    <label>gender</label>
    <input class="form-control" formControlName="Gender" ng-pattern="integerval">
    <label class="text-danger" *ngIf="service.formModel.get('Gender').touched && service.formModel.get('Gender').errors?.required">Invalid
      Gender.</label>
      
  </div>
  
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
      email address.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">Required
        email address.</label>
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
        field is mandatory.</label>
     
        <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.pattern">
         complex password you should enter contain(capital,small,number,and Another letter like(@,!,...) minmim 9 letter</label>
    </div>
    <div class="form-group required">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
        Password does not match.</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" >Creat User   </button>
    </div>
  </div>
</form>
[disabled]="!service.formModel.valid"

